version: "3"
services: 
    db:
        image: postgres:13.3
        restart: always
        ports: 
            - "5432:5432"
        volumes: 
            - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
        environment: 
            - POSTGRES_DB=map
            - POSTGRES_USER=banjo
            - POSTGRES_PASSWORD=banjo**0417
        networks: 
            web:
                aliases: 
                    - web-db.local
    web:
        build: .
        restart: always
        command: bash -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
        volumes: 
            - .:/code
        ports: 
            - "8000:8000"
        depends_on: 
            - db
        networks: 
            web:
                aliases: 
                    - web-django.local
    
    nginx:
        image: nginx:latest
        restart: always
        ports: 
            - "8080:80"
        volumes: 
            - ./nginx.conf:/etc/nginx/conf.d/default.conf
            - ./map/build:/usr/share/nginx/html
        command: /bin/bash -c "nginx -g 'daemon off;'"
        networks: 
            web:
                aliases: 
                    - web-nginx.local

networks: 
    web: